@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}


h1 {
    display: flex;
    justify-content: center;
    width: 306px;
    padding-bottom: 20px;
    margin: 120px 567px 0 567px;
    font-weight: 500;
}

.wrapper_main__background {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.wrapper_main {
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
}


.line hr {
    width: 50px;
    height: 2px;
    background-color: #F5BD41;
    border: 1px solid #F5BD41;
    margin: 0 37px;
}

.main-trip {
    display: flex;
    justify-content: space-between;
}

.main-trip__logo {
    margin: 55px 342px 0 104px;
    height: 40px;
    width: 205px;
}

.main-trip__header {
    margin: 57px 104px 202px 342px;
}

.main-trip__header-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: #ffffff;
    max-width: 100%;
}

.words {
    display: flex;
    padding: 5px 10px;
}

.word {
    padding: 0 24px;
    font-size: 24px;
    line-height: 28px;
}

.trip__page__header-text {
    height: 118px;
    color: #ffffff;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    padding: 0 0 0 104px;
}

.almanac {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.almanac__destination {
    display: flex;
    color: #ffffff;
    margin: 90px 111px 28px 128px;
}

.almanac__check-in {
    display: flex;
    color: #ffffff;
    margin: 90px 20px 28px 110px;
}

.search-line {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    max-width: 1232px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    margin: 0 104px;
}

.first-line hr {
    background-color: #F5BD41;
    border: 2px solid #F5BD41;
    width: 100px;
    margin: 20px 670px;
}

::placeholder {
    color: #000000C2;
    font-size: 1.2em;
}

.city, .date, .count {
    outline: none;
    height: 55px;
    width: 300px;
    padding: 0 0 0 10px;
    border-radius: 10px;
    border: none;
}

.date {
    border: 3px solid #F5BD41;
    width: 259px;
    border-radius: 10px;
    margin: 0 0 0 170px;

}

.button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #3077C6;
    width: 192px;
    height: 60px;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid #3077C6;
}

.apps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    width: 290px;
    margin: 110px 580px;
}


.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 100px;
}

.box {
    width: 296px;
    height: 176px;
}

.headphones img {
    width: 75px;
    height: 92px;
    padding: 5px 106px 50px;
}

.headphones p {
    margin: 0 auto;
    width: 141px;
    height: 28px;
    font-size: 24px;
    padding: 0 77px 0 78px;
}

.chat img {
    width: 84px;
    height: 84px;
    padding: 5px 106px 50px;
}

.chat p {
    margin: 0 auto;
    width: 296px;
    height: 28px;
    font-size: 24px;
    padding: 6px 0 0;
    text-align: center;

}

.laptop img {
    width: 100px;
    height: 67px;
    padding: 5px 106px 50px;
}

.laptop p {
    width: 168px;
    height: 28px;
    font-size: 24px;
    text-align: center;
    padding-top: 25px;

}

.ok img {
    width: 92px;
    height: 83px;
    padding: 5px 106px 50px;
}

.ok p {
    margin: 0 auto;
    width: 225px;
    height: 28px;
    font-size: 24px;
    text-align: center;
    padding-top: 8px;
}

li {
    list-style-type: none;
}

.footer {
    background-color: #10367c;
    width: 100%;
}

.background_wrapper {
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0 200px 104px;
    background-color: #10367c;
    margin: 0 auto;
}

.col {
    width: 33.3%;
}

.end {
    margin: 165px 400px 0 30px;
    font-size: 14px;
}

.col-bottom {
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
}

.first {
    padding: 0 40px 24px;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 500px) {
    [class*="col-"] {
        width: 100%;
    }
}
















